Project Amafu/LogicApp/SQLtrigger/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Assign_VBM_Resource": {
                "description": "Need To get VBR UID ( static to Region ) Logic app per region ",
                "inputs": {
                    "body": {
                        "friendlyName": "@{parameters('VB365Server')}",
                        "vb365ServerUid": "@{outputs('VBM_Install_ID')}"
                    },
                    "headers": {
                        "Authorization": "bearer @{body('Get_Token')?['access_token']}",
                        "Content-Type": "application/json",
                        "X-Client-Version": "string"
                    },
                    "method": "POST",
                    "uri": "https://@{parameters('servername')}:1280/api/v3/organizations/companies/@{body('Get_Company_ID')?['data']?['instanceUid']}/vb365Resources"
                },
                "runAfter": {
                    "VBM_Install_ID": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Assign_VCC_Site": {
                "inputs": {
                    "body": {
                        "cloudTenantType": "General",
                        "ownerCredentials": {
                            "password": "@{outputs('JS_Pass_Gen')}",
                            "userName": "@{variables('Field data')[1]}"
                        },
                        "siteUid": "@{outputs('Get_Site_UID')}"
                    },
                    "headers": {
                        "Authorization": "bearer @{body('Get_Token')?['access_token']}",
                        "Content-Type": "application/json",
                        "X-Client-Version": "string"
                    },
                    "method": "POST",
                    "uri": "https://@{parameters('servername')}:1280/api/v3/organizations/companies/@{body('Get_Company_ID')?['data']?['instanceUid']}/sites"
                },
                "operationOptions": "DisableAsyncPattern",
                "runAfter": {
                    "Get_Site_UID": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Create_Company": {
                "inputs": {
                    "body": {
                        "IsAlarmDetectEnabled": false,
                        "organizationInput": {
                            "alias": "@{triggerBody()?['AMPSubscriptionId']}",
                            "city": "@{variables('Field data')[1]}",
                            "country": 1,
                            "email": "@{variables('Field data')[1]}",
                            "name": "@{variables('Field data')[1]}",
                            "notes": "Azure Provisioned",
                            "phone": "@{variables('Field data')[8]}",
                            "website": "@{variables('Field data')[6]}"
                        },
                        "permissions": [
                            "REST"
                        ],
                        "resellerUid": null,
                        "subscriptionPlanUid": null
                    },
                    "headers": {
                        "Authorization": "bearer @{body('Get_Token')?['access_token']}",
                        "Content-Type": "application/json",
                        "X-Client-Version": "string"
                    },
                    "method": "POST",
                    "uri": "https://@{parameters('servername')}:1280/api/v3/organizations/companies"
                },
                "runAfter": {
                    "Get_Token": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Customer_Welcome": {
                "inputs": {
                    "body": {
                        "Body": "<p>Dear @{variables('Field data')[1]},<br>\n<br>\nWelcome to our new SaaS Service! We're excited to have you on board and look forward to helping you keep your Office 365 data safe and secure.<br>\n<br>\nTo get started, please use the following login information to access your account:<br>\n<br>\nLogin URL: @{parameters('VSPCURL')}<br>\nUsername: @{variables('Field data')[1]}\\@{variables('Field data')[1]}<br>\nPassword: @{outputs('JS_Pass_Gen')}<br>\nOnce you've logged in, follow these steps to configure backup for your Office 365:<br>\n<br>\nClick on the \"Configuration\" tab<br>\nClick on the \"Office 365 Plugin\" option<br>\nSelect your organization<br>\nAdd your organization and follow the on-screen prompts<br>\nGo back to the main dashboard and select \"Backup Jobs\"<br>\nAdd a backup job<br>\nSelect the organization that you added in step 4<br>\nConfigure the backup job to your liking<br>\nIf you have any questions or concerns, please don't hesitate to contact our support team. They're available 24/7 to help you with any issues you may encounter.<br>\n<br>\nThank you for choosing our new SaaS Service. We're thrilled to have you as a customer and look forward to helping you protect your Office 365 data.<br>\n<br>\nBest regards,<br>\nRobot Ian<br>\nThe SaaS Service Team</p>",
                        "From": "email@email.com",
                        "Importance": "Normal",
                        "Subject": "Welcome To VB365 Veeam SaaS Service ",
                        "To": "@{variables('Field data')[2]}"
                    },
                    "host": {
                        "connection": {
                            "referenceName": "office365"
                        }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                },
                "runAfter": {
                    "Send_Welcome_Email": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Execute_query": {
                "inputs": {
                    "parameters": {
                        "query": "SELECT *\nFROM SubscriptionAttributeValues\nWHERE SubscriptionId = '@{triggerBody()?['AMPSubscriptionId']}'"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "sql",
                        "operationId": "executeQuery",
                        "serviceProviderId": "/serviceProviders/sql"
                    }
                },
                "runAfter": {},
                "type": "ServiceProvider"
            },
            "Field_data": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Field data",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "For_each_2": {
                "actions": {
                    "For_each": {
                        "actions": {
                            "Append_to_array_variable": {
                                "inputs": {
                                    "name": "Field data",
                                    "value": "@items('For_each')['Value']"
                                },
                                "runAfter": {},
                                "type": "AppendToArrayVariable"
                            }
                        },
                        "foreach": "@items('For_each_2')",
                        "runAfter": {},
                        "type": "Foreach"
                    }
                },
                "foreach": "@body('Parse_JSON')",
                "runAfter": {
                    "Field_data": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "GET_VBM_Resource": {
                "inputs": {
                    "headers": {
                        "Authorization": "bearer @{body('Get_Token')?['access_token']}",
                        "Content-Type": "application/json",
                        "X-Client-Version": "string"
                    },
                    "method": "GET",
                    "uri": "https://@{parameters('servername')}:1280/api/v3/organizations/companies/@{body('Get_Company_ID')?['data']?['instanceUid']}/vb365Resources?filter=[{\"property\":\"friendlyname\",\"operation\":\"equals\",\"value\":\"@{parameters('VB365Server')}\"}]"
                },
                "runAfter": {
                    "Assign_VBM_Resource": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Get_Auth": {
                "inputs": {
                    "body": "grant_type=password&username=@{parameters('username')}&password=@{parameters('Password')}&&&&&&",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-Client-Version": "string"
                    },
                    "method": "POST",
                    "uri": "https://@{parameters('servername')}:1280/api/v3/token"
                },
                "runAfter": {
                    "For_each_2": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Get_Company_ID": {
                "inputs": {
                    "content": "@body('Create_Company')",
                    "schema": {
                        "properties": {
                            "data": {
                                "properties": {
                                    "_embedded": {
                                        "properties": {
                                            "organization": {}
                                        },
                                        "type": "object"
                                    },
                                    "companyServices": {
                                        "properties": {
                                            "isBackupAgentManagementEnabled": {
                                                "type": "boolean"
                                            },
                                            "isBackupServerManagementEnabled": {
                                                "type": "boolean"
                                            },
                                            "isFileLevelRestoreEnabled": {
                                                "type": "boolean"
                                            },
                                            "isVBPublicCloudManagementEnabled": {
                                                "type": "boolean"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "instanceUid": {
                                        "type": "string"
                                    },
                                    "isAlarmDetectEnabled": {
                                        "type": "boolean"
                                    },
                                    "loginUrl": {},
                                    "name": {
                                        "type": "string"
                                    },
                                    "permissions": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "resellerUid": {},
                                    "status": {
                                        "type": "string"
                                    },
                                    "subscriptionPlanUid": {}
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Create_Company": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Get_Resource_Details": {
                "inputs": {
                    "content": "@body('Get_VBM_Repositories')",
                    "schema": {
                        "properties": {
                            "capacityBytes": {
                                "type": "integer"
                            },
                            "description": {
                                "type": "string"
                            },
                            "freeSpaceBytes": {
                                "type": "integer"
                            },
                            "instanceUid": {
                                "type": "string"
                            },
                            "isArchiveRepository": {
                                "type": "boolean"
                            },
                            "isObjectStorageRepository": {
                                "type": "boolean"
                            },
                            "name": {
                                "type": "string"
                            },
                            "path": {
                                "type": "string"
                            },
                            "proxyUid": {
                                "type": "string"
                            },
                            "retentionType": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Get_VBM_Repositories": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Get_Site_UID": {
                "inputs": "@body('Parse_VCC_Sites').data[0].siteUid",
                "runAfter": {
                    "Parse_VCC_Sites": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Get_Token": {
                "inputs": {
                    "content": "@body('Get_Auth')",
                    "schema": {
                        "properties": {
                            "access_token": {
                                "type": "string"
                            },
                            "encrypted_code": {},
                            "expires_in": {
                                "type": "integer"
                            },
                            "mfa_token": {},
                            "refresh_token": {
                                "type": "string"
                            },
                            "token_type": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Get_Auth": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Get_VBM_Repositories": {
                "description": "Gets Repositories with 20+ GB free space and select fisrt one",
                "inputs": {
                    "headers": {
                        "Authorization": "bearer @{body('Get_Token')?['access_token']}",
                        "Content-Type": "application/json",
                        "X-Client-Version": "string"
                    },
                    "method": "GET",
                    "uri": "https://@{parameters('servername')}:1280/api/v3/infrastructure/vb365Servers/@{outputs('VBM_Install_ID')}/backupRepositories?filter=[{\"property\":\"freeSpaceBytes\",\"operation\":\"greaterThan\",\"value\":\"20000000000\"}]&limit=1"
                },
                "runAfter": {
                    "Resource_UID": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Get_VBM_details": {
                "inputs": {
                    "content": "@body('Get_VBM_servers_')",
                    "schema": {
                        "properties": {
                            "installationUid": {
                                "type": "string"
                            },
                            "instanceUid": {
                                "type": "string"
                            },
                            "locationUid": {
                                "type": "string"
                            },
                            "managementAgentUid": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "organizationUid": {
                                "type": "string"
                            },
                            "status": {
                                "type": "string"
                            },
                            "version": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Get_VBM_servers_": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Get_VBM_servers_": {
                "inputs": {
                    "headers": {
                        "Authorization": "bearer @{body('Get_Token')?['access_token']}",
                        "Content-Type": "application/json",
                        "X-Client-Version": "string"
                    },
                    "method": "GET",
                    "uri": "https://@{parameters('servername')}:1280/api/v3/infrastructure/vb365Servers?filter=[{\"property\":\"name\",\"operation\":\"equals\",\"value\":\"@{parameters('VB365Server')}\"}]"
                },
                "runAfter": {
                    "Assign_VCC_Site": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Get_VCC_Sites": {
                "inputs": {
                    "headers": {
                        "Authorization": "bearer @{body('Get_Token')?['access_token']}",
                        "Content-Type": "application/json",
                        "X-Client-Version": "string"
                    },
                    "method": "GET",
                    "uri": "https://@{parameters('servername')}:1280/api/v3/infrastructure/sites?filter=[{\"property\":\"siteName\",\"operation\":\"equals\",\"value\":\"@{parameters('VCCsite')}\"}]&limit=1"
                },
                "runAfter": {
                    "JS_Pass_Gen": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "JS_Pass_Gen": {
                "inputs": {
                    "code": "function generatePassword() {\r\n  const characters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';\r\n  let password = '';\r\n  for (let i = 0; i < 5; i++) {\r\n    password += characters.charAt(Math.floor(Math.random() * characters.length));\r\n  }\r\n  return password;\r\n}\r\n\r\nreturn generatePassword();"
                },
                "runAfter": {
                    "Get_Company_ID": [
                        "Succeeded"
                    ]
                },
                "type": "JavaScriptCode"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('Execute_query')",
                    "schema": {
                        "items": {
                            "items": {
                                "properties": {
                                    "CreateDate": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "ID": {
                                        "type": "integer"
                                    },
                                    "OfferID": {
                                        "type": "string"
                                    },
                                    "PlanAttributeId": {
                                        "type": "integer"
                                    },
                                    "PlanID": {
                                        "type": "string"
                                    },
                                    "SubscriptionId": {
                                        "type": "string"
                                    },
                                    "UserId": {
                                        "type": "integer"
                                    },
                                    "Value": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ID",
                                    "PlanAttributeId",
                                    "Value",
                                    "SubscriptionId",
                                    "CreateDate",
                                    "UserId",
                                    "PlanID",
                                    "OfferID"
                                ],
                                "type": "object"
                            },
                            "type": "array"
                        },
                        "type": "array"
                    }
                },
                "runAfter": {
                    "Execute_query": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Parse_VCC_Sites": {
                "inputs": {
                    "content": "@body('Get_VCC_Sites')",
                    "schema": {
                        "properties": {
                            "description": {
                                "type": "string"
                            },
                            "managementAgentUid": {
                                "type": "string"
                            },
                            "siteName": {
                                "type": "string"
                            },
                            "siteUid": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Get_VCC_Sites": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Proxy_UID": {
                "inputs": "@body('Get_Resource_Details').data[0].proxyUid",
                "runAfter": {
                    "Repository_UID": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Repository_UID": {
                "inputs": "@body('Get_Resource_Details').data[0].instanceUid",
                "runAfter": {
                    "Get_Resource_Details": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Resource_UID": {
                "inputs": "@body('VBM_Resource_Details').data[0].instanceUid",
                "runAfter": {
                    "VBM_Resource_Details": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Send_Welcome_Email": {
                "inputs": {
                    "body": {
                        "password": "@{outputs('JS_Pass_Gen')}"
                    },
                    "headers": {
                        "Authorization": "bearer @{body('Get_Token')?['access_token']}",
                        "Content-Type": "application/json",
                        "X-Client-Version": "string"
                    },
                    "method": "POST",
                    "uri": "https://@{parameters('servername')}:1280/api/v3/organizations/companies/@{body('Get_Company_ID')?['data']?['instanceUid']}/welcomeEmail"
                },
                "runAfter": {
                    "Set_VBM_Resources": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Set_VBM_Resources": {
                "description": "Create Variables that are passed from first web request , pass here in bod",
                "inputs": {
                    "body": {
                        "isUsersQuotaUnlimited": false,
                        "proxyUid": "@{outputs('Proxy_UID')}",
                        "repositoryUid": "@{outputs('Repository_UID')}",
                        "usersQuota": "@{triggerBody()?['AMPQuantity']}"
                    },
                    "headers": {
                        "Authorization": "bearer @{body('Get_Token')?['access_token']}",
                        "Content-Type": "application/json",
                        "X-Client-Version": "string"
                    },
                    "method": "POST",
                    "uri": "https://@{parameters('servername')}:1280/api/v3/organizations/companies/@{body('Get_Company_ID')?['data']?['instanceUid']}/vb365Resources/@{outputs('Resource_UID')}/backupResources"
                },
                "runAfter": {
                    "Proxy_UID": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "VBM_Install_ID": {
                "inputs": "@body('Get_VBM_details').data[0].installationUid",
                "runAfter": {
                    "Get_VBM_details": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "VBM_Resource_Details": {
                "inputs": {
                    "content": "@body('GET_VBM_Resource')",
                    "schema": {
                        "properties": {
                            "companyUid": {
                                "type": "string"
                            },
                            "friendlyName": {
                                "type": "string"
                            },
                            "instanceUid": {
                                "type": "string"
                            },
                            "vb365ServerUid": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "GET_VBM_Resource": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "VCSP_Provisioned_Notification_": {
                "inputs": {
                    "body": {
                        "Body": "<p>Dear SaaS Provider Team,<br>\n<br>\nI hope this email finds you well. I wanted to inform you that the SaaS offer for our customer, @{variables('Field data')[1]}, has been automatically provisioned and is now active. The offer includes a total of @{triggerBody()?['AMPQuantity']} user accounts.<br>\n<br>\nWe appreciate your efficient handling of the provisioning process and your commitment to providing seamless service. We believe that this will be an excellent solution for @{variables('Field data')[1]} and will help them achieve their business goals.<br>\n<br>\nWe look forward to continuing our partnership with you and providing our customers with the best SaaS solutions available. If you have any questions or concerns, please do not hesitate to reach out to us.<br>\n<br>\nThank you for your continued support.<br>\n<br>\nBest regards,<br>\n<br>\nSaaS API robot&nbsp;</p>",
                        "From": "email@email.com",
                        "Importance": "Normal",
                        "Subject": "Provisioned @{variables('Field data')[1]}",
                        "To": "email@email.com"
                    },
                    "host": {
                        "connection": {
                            "referenceName": "office365"
                        }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                },
                "runAfter": {
                    "Send_Welcome_Email": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_an_item_is_created_(V2)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "sql_1"
                        }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[Subscriptions]'))}/onnewitems"
                },
                "recurrence": {
                    "frequency": "Second",
                    "interval": 15
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnection"
            }
        }
    },
    "kind": "Stateful"
}
